.report-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.report-card {
    width: 450px;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

.report-card h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #0077cc;
}

.input,
.textarea,
.input-file {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    font-size: 14px;
}

.textarea {
    height: 100px;
    resize: none;
}

.submit-btn {
    width: 100%;
    padding: 12px;
    background: #0077cc;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

.submit-btn:hover {
    background: #005fa3;
}
